[Unit]
Description=SIS centralized LanguageTool service
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/eagles/dockerz/sis/infra/languagetool
ExecStart=/usr/bin/docker  up -d
ExecStop=/usr/bin/docker  stop
TimeoutStartSec=0
User=eagles
Group=docker

[Install]
WantedBy=multi-user.target
